body {
  background-image: url("https://i.redd.it/upg7qlc1afc91.jpg");
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

header {

  background-image: url('https://i.redd.it/1bd965y6j71b1.jpg');
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

.filter,
.search,
.layout {
  margin-bottom: 10px;
}

.filter {
  padding: 15px 0px;
}

.filter button {
  margin-right: 5px;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px 25px;
  border-radius: 50px;
  color: #e74c3c;
  transition: 0.3s;
}

.filter button:hover,
.filter .btn-clicked {
  background: #fff;
  color: #111;
}


.filter a.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;

}

h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
  }
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .gallery__img {
    min-width: auto;
    min-height: 100vh;
  }
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;
}

@media screen and (min-width: 1200px) {
  .lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }
}

.lil-nav a {
  display: flex;
  min-width: 45vw;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .lil-nav a {
    margin-bottom: 10px;
    min-height: 200px;
    min-width: 100%;
  }
}

.lil-nav__img {
  -o-object-fit: cover;
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}